<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
<filter>
  <whitelist processUncoveredFilesFromWhitelist="false">
    <directory suffix=".php">../public/assets/themes</directory>
    <exclude>
      <directory suffix=".php">../vendor</directory>
    </exclude>
  </whitelist>
</filter>
</phpunit>
